repos:
  - repo: https://github.com/ambv/black
    rev: 24.2.0
    hooks:
      - id: black

  - repo: https://github.com/hadialqattan/pycln
    rev: v2.4.0
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]

  - repo: https://github.com/csachs/pyproject-flake8
    rev: v6.1.0
    hooks:
      - id: pyproject-flake8

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.8.0'
    hooks:
    -   id: mypy
        args: [--strict]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-ast
      - id: check-toml
      - id: pretty-format-json
      - id: check-json
      - id: requirements-txt-fixer
      - id: detect-private-key
      - id: name-tests-test
        exclude: helper

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
